
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
 padding: 10px;
  width: 100%;
  display: flex;
}
.input_div{
  margin-top: 20px;
  margin-left: 15%;
  margin-bottom: -10px;
}

.table_div{
  width: 60%;
}
.input_div{
 text-align: center;
 /* margin-left: 25%; */
 width: 50%;
}
.div_details{
  width: 40%;
  border: 5px solid black;
  background-color: azure;
  height: 150px;
  margin-top: 50px;
  border-radius: 8px;
  margin-left: 1px;
}
h6{
  text-align: left;
  margin-left: 10px;
}